img {
    border-radius: 30px;
    border: 3px groove;
    height: 150px;
    width: 200px;
    margin-top: 100px;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;

}
.content h1{
    color: transparent;
   -webkit-text-stroke :.7px goldenrod;
   margin-top: 20px;
   text-align: center;
}
.content p{
    color:goldenrod ;
    text-align: center;
    padding: 5px;
}
.content p em{
    color: lawngreen;
}
.content p b{
    color: khaki;
}