*{
    font-family: 'Times New Roman';
}
.tel{
    text-align: center;
    margin-top: 50px;
}
.subm input{
    background-color: black;
    height:35px;
    width: 100px;
    font-size: 18px;
    color: whitesmoke;
    border-radius: 10px;
}
.subm{
    text-align: center;
}
.tel input{
    height: 40px;
    width: 350px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    border: 2pt outset rgb(124, 108, 22);
    border-radius: 10px;
    
}
.tel textarea{
    height: 100px;
    width: 332px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 2pt outset rgb(124, 108, 22);
        border-radius: 10px;

}