* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color:  #091f36;
}

ul li a {
    list-style: none;
    color: rgb(239, 233, 233);
    text-decoration: none;
    font-size: 18px;

}
header{
    border-bottom: 2px groove goldenrod;
}
header ul {
    display: flex;
    background-color:  #393f4d;
    justify-content: end;
    height: 80px;

}

ul li {
    margin: 15px;
    padding: 15px;
}

footer .handles ul {
    color: white;
    display: flex;
}
footer .handles ul li{
    margin: 15px;
    padding: 5px;
    border-radius: 100%;
    border: 1px solid;
    color: gold;
    
}
.handles ul li a {
    color: gold;
}

footer {
    background-color:#393f4d;
    position: absolute;
    width: 100%;
    height: 8%;
    bottom: 0px;
    justify-items: center;
    border-top: 2px groove goldenrod;

}

.handles ul li a :hover{
    color: black;
    
}
.handles ul  :hover{
    color: black;
    
}